

body, .navbar{

background: #457fca; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a
{
    color: white;
}
.navbar-default
{
    border: None;
}

.description
{
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 8.6em;
  line-height: 1.8em;
}

.thumbnail
{
 float:left;
 height: auto;
 width: auto;
 padding:0;
 border: none;
 overflow:auto;
 margin-bottom: 50px;
}

.info{

  float:right;width:80%;
}

.clear
{
  clear:both;
}

.booklist
{
  list-style-type: none;
}

.addbutton
{
  position: relative;
  bottom: 24px;
  width: 128px;
}

.loginform
{
  margin:20px 0px 20px 0px;
}