

.navbar{

background-color: #63AA9C;
position: fixed;
width: 100%;
z-index:1;
}

body
{

background-color: #ECEAE0;
background-color: #b2cecf;
font-family: 'Aref Ruqaa', serif;
font-size: 15px;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a
{
    color: white;
}
.navbar-default
{
    /*border: None;*/
}

.description
{
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 8.6em;
  line-height: 1.8em;
}

.thumbnail
{
 float:left;
 height: auto;
 width: auto;
 padding:0;
 border: none;
 overflow:auto;
 margin-bottom: 50px;
}

.info{

  float:right;width:80%;
}

.clear
{
  clear:both;
}

.booklist
{
  list-style-type: none;
}

.addbutton
{
  position: relative;
  bottom: 24px;
  width: 128px;
}

.loginform
{
  margin:20px 0px 20px 0px;
}

.main-search
{

  height: 40px;
  margin:150px 0px 20px 0px;
}

#home-h1
{
  text-align: center;
  margin-top: 100px;
  font-family: 'Aref Ruqaa', serif;
}

.main-search-button
{
  width: 100%;
  height: 40px;
}

.placeholder
{
  height: 80px;
}